$primary-color: #FF70D9;
$secondary-color: #EBFF00;
$secondary-color-hover: #D9FF70;
$background-gradient: linear-gradient(180deg, #13203e, #2b406b);
$background: #172954;
$background-dark: #0a0a0a;
$text-light: #ffffff;
$text-gray: #cccccc;
$text-dark: #000000;

$font-primary: 'Lato', sans-serif; 
$font-secondary: 'Arial', sans-serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1200px;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;