@use "./styles/variables" as vars;
@use "./styles/mixins" as mixins;
@use "./styles/reset";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: vars.$background-gradient;

  &__main {
    background: vars.$background-gradient;
    flex: 1;
  }

  &__container {
    @include mixins.container;
  }

  &__cards {
    padding: vars.$spacing-xxl 0;

    @include mixins.mobile {
      padding: vars.$spacing-xl 0;
    }
  }
}


footer {
  flex-shrink: 0;
}
